#all-food-items-wrapper > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.oneItem {
  background-color: rgba(42, 43, 60, 1);
  width: 590px;
  height: 185px;
  margin: 10px;

  * {
    font-family: 'Indie Flower', cursive;
  }

  .detailsWrapper {
    margin-left: 30px;
    display: flex;
  }
  img {
    border: 1px solid rgb(138, 141, 144);
    align-self: center;
    max-width: 65px;
  }

  .itemName {
    text-align: center;
    font-size: 19px;
    letter-spacing: 1.2px;
    color: rgb(63, 126, 236);
  }

  li {
    font-size: 19px;
    color: rgb(122, 168, 130);
  }

  .hr {
    border-top: 1px rgba(255, 255, 255, 0.2) solid;
  }

  .itemData {
    padding:10px;

    color: white;
    font-size: 17px;
    color: #7aa882;
    font-weight: 100;
  }

  .rarityRare{
    color: #ffd73a;
  }

  .rarityBasic{
    color: #e8e2ff;
  }

  .rarityFine{
    color: #2544ff;
  }

  .rarityExotic{
    color: #ff640d;
  }

  .rarityMasterwork{
    color: #068900;
  }

}