.foodAttributesWrapper #food-attribute-filters {
    display: flex;
    justify-content: center;
}

.menu-elements-wrapper {
    margin: 0 auto;
    margin-top: 5px;
}

#all-food-items-wrapper > section {
    display: block !important;
}

.oneItem {
    background-color: #191919;
    margin: 10px;
    width: auto;
    height: auto;
    display: flex;
}

.oneItem * {
    font-family: "Indie Flower", cursive;
}

.oneItem .detailsWrapper {
    margin-left: 30px;
    display: flex;
}

.oneItem img {
    border: 1px solid #8a8d90;
    align-self: center;
    max-width: 65px;
}

.oneItem img {
    border: 1px solid #8a8d90;
    align-self: center;
    max-width: 65px;
}

.itemName {
    text-align: center;
    font-size: 19px;
    letter-spacing: 1.2px;
    color: #3f7eec;
    width: 250px;
}

.oneItem .hr {
    border-top: 1px rgba(255, 255, 255, 0.2) solid;
}

.itemData {
    padding: 10px;

    font-size: 17px;
    color: #7aa882;
    font-weight: 100;

    margin-left: auto !important;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.oneItem .rarityRare {
    color: #ffd73a;
}

.oneItem .rarityBasic {
    color: #e8e2ff;
}

.oneItem .rarityFine {
    color: #2544ff;
}

.oneItem .rarityExotic {
    color: #ff640d;
}

.oneItem .rarityMasterwork {
    color: #068900;
}

.oneItem li {
    font-size: 19px;
    color: #7aa882;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 48%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 47%;
    border: 5px solid #3f7eec;
    border-color: #3f7eec transparent #3f7eec transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.oneItem .itemName, .oneItem .detailsWrapper, .oneItem .itemData {
    align-self: center;
    margin: 5px;
}

#all-food-items-wrapper > section {
    display: block !important;

}

.items-header .headers-section {
    width: auto;
    height: auto;
    display: flex;
}

.headers-section * {
    color: #7aa882 !important;
    padding: 3px !important;
    font-size: 20px !important;
}

.headers-section div {
    margin: 5px;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}