.foodAttributesWrapper #food-attribute-filters {
    display: flex;
    justify-content: center;
}

.menu-elements-wrapper {
    margin: 0 auto;
    margin-top: 5px;
}

#all-food-items-wrapper > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.oneItem {
    background-color: #2a2b3c;
    width: 590px;
    height: 185px;
    margin: 10px;
}

.oneItem * {
    font-family: "Indie Flower", cursive;
}

.oneItem .detailsWrapper {
    margin-left: 30px;
    display: flex;
}

.oneItem img {
    border: 1px solid #8a8d90;
    align-self: center;
    max-width: 65px;
}

.oneItem .itemName {
    text-align: center;
    font-size: 19px;
    letter-spacing: 1.2px;
    color: #3f7eec;
}

.oneItem .hr {
    border-top: 1px rgba(255, 255, 255, 0.2) solid;
}

.oneItem   .itemData {
    padding:10px;

    color: white;
    font-size: 17px;
    color: #7aa882;
    font-weight: 100;
}

.oneItem .rarityRare{
    color: #ffd73a;
}

.oneItem .rarityBasic{
    color: #e8e2ff;
}

.oneItem .rarityFine{
    color: #2544ff;
}

.oneItem .rarityExotic{
    color: #ff640d;
}

.oneItem .rarityMasterwork{
    color: #068900;
}

.oneItem li {
    font-size: 19px;
    color: #7aa882;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 48%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 47%;
    border: 5px solid #3f7eec;
    border-color: #3f7eec transparent #3f7eec transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}